@font-face{
    font-family: "heebo";
    src: url(./fonts/Heebo-Regular.ttf);
}
body{
    margin: 0;
}
.section1{
    padding-right: 60px;
}
.header{
    display: flex;
    justify-content: end;
    gap: 40px;
    
}
.header h5{
    font-family: "heebo";
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0px;
    color: #21243D;

}
/*     SECTION2     */
.section2{
    padding-left: 160px;
    padding-right: 180px;
    padding-top: 100px;
}
.john{
    display: flex;
    justify-content: space-between;
}
.john h3{
    width: 506px;
    height: 105px;
    font-family: "heebo";
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0px;
    color: #21243D;

}
.john p{
    width: 497px;
    height: 66px;
    font-family: "heebo";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    
}
.john button{
    width: 208px;
    height: 47px;
    border-radius: 2px;
    background: #FF6464;
    font-family: "heebo";
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    border: none;
    cursor: pointer;
    letter-spacing: 0px;
    color: #FFFFFF;
   margin-top: 30px;
}
 
.eclipse1{
    position: absolute;
    z-index: 2;
    right: 180px;
}
.eclipse2{
    position: absolute;
    right: 187px;
    padding-top: 15px;

}

/*    SECTION3      */
.section3{
    padding-left: 160px;
    padding-right: 160px;
    margin-top: 80px;
    background: #EDF7FA;
    height: 70vh;
}
.posts{
    display: flex;
    justify-content: space-between;
}
.posts h4{
    font-family: "heebo";
    font-size: 22px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0px;
    
}
.vr{
    width: 1px;
    height: 21px;
    border: 1px;
    background: #000000;
    display: flex;
    
}
.design{
    width: 458px;
    height: 295px;
    border-radius: 4px;
    background: #FFFFFF;
}
.design div{
    display: flex;
    gap: 20px
    ;
}
.design span{
    font-family: "heebo";
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    margin-left: 30px;
}
.design h3{
    width: 374px;
    height: 85px;
    padding-top: 30px;
    padding-left: 30px;
    font-family: "heebo";
    font-size: 26px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0px;
    
}
.design p{
    width: 368px;
    height: 117px;
    font-family: "heebo";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    padding-left: 30px;
    
}
.lnk{
    text-align: right;
}
.lnk h4 a{
    text-decoration: none;
    font-family: "heebo";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
}
/*     SECTION4         */
.section4{
    padding-left: 160px;
}
.works{
    display: flex;
}
.dashboard{
    padding-top: 81px;
    padding-left: 20px;
}
.works h4{
    font-family: "heebo";
    font-size: 22px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left;
    color: #21243D;
}

.works h3{
    font-family: "heebo";
    font-size: 30px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0px;
    text-align: left;
    color: #21243D;
}
.spans{
    display: flex;
   gap: 30px
   ;
}
.txt1{

  font-family: Heebo;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-align: center;
    background-color: #142850;
    width: 62px;
    height: 25px;
    border-radius: 16px;
    margin: 0;    
}
.txt2{
    font-family: "heebo";
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
    color: #8695A4;
    margin: 0;

    
}
.txt3{
    font-family: "heebo";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #21243D;
    width: 594px;
    height: 93px;
}
.hr{
    padding-right: 160px;
}
/*    SECTION5      */   

.section5{
    padding-top: 150px;
}
.icons{
    display: flex;
    justify-content: center;
    gap: 35px
    ;
}
.footer{
    display: flex;
    justify-content: center;
}
.footer p{
    font-family: "heebo";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    color: #21243D;   
}


.burger-menu{
    display: none;
    background-color: white
    ;
    overflow: hidden;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    border: 1.6px;
    height: 30px;
}
.line{
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 5px;
    display: block;
}
@media   screen and (max-width: 400px) {
    .header h5{
        display: none !important;
        width: 100%;
    }
.burger-menu{
    display: block !important;
    position: absolute;
    right: 115px;
    top: 5px;
}
.section2{
    padding-top: 70px !important;
    padding-right: 80px;
   
}
.section2 img{
    width: 138px;
    height: 144px;
    align-items: center;
}
.john{
    display: block !important;
}
.john h3{
    display: block;
    width: 270px;
    height: 120px;
    font-family: "heebo";
    font-size: 32px;
    font-weight: 700;
    line-height: 60px;
    align-items: center;
    letter-spacing: 0px;
    color: #21243D;

}
.john p{
    width: 328px;
    height: 96px;
    font-family: "heebo";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    
}
.john button{
    width: 208px;
    height: 47px;
    border-radius: 2px;
    background: #FF6464;
    font-family: "heebo";
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    border: none;
    cursor: pointer;
    letter-spacing: 0px;
    color: #FFFFFF;
   margin-top: 30px;
}
}